html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.info-box-small {
}

.info-box-big {
}

.main-container {
  max-width: 900px;
}

/* Лучше не использовать селекторы по тегам или использовать их как можно реже.проблему отлично решает использование селектора по классу. 
Добавив нужный класс к элементу разметки, мы будем уверены, что стили применятся именно к этому элементу и ни к какому больше. */

/* Вложенные(контекстные теги)
.post .title {…} /* теги с классом title внутри тегов с классом post */ */

h1 {
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 330px;
  }
}

@media (max-width: 796px) {
  .card {
    width: 280px;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #eee;
}


#main {
  border-radius: 5px;
  background: #eee;
}



.avatar {
  display: inline-block;
  width: 200px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 50px;
  margin-right: 50px;
}


ul.text-list {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

.text-list > li{
  margin: 16px 0;
}



header {
  width: 100%;
  background-color: /* #c7dabe; */ #1b271de3
}
.menu-nav {
  align-items: center;
  padding: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.menu-nav>li{
  padding: 10px;
  
}


.text-info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  border-top: 1px solid /* #333 */ #beb2b3;
  border-bottom: 1px solid /* #333 */ #beb2b3;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 10px;
}

footer {
  width: 100%;
  background-color: #beb2b3;
  display: inline-block;
}

.link-about {
  color: #1b271de3;
  list-style: none;
  padding: 0;
}

.logo {
  height: 30px;
}

pre {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  padding: 0;
}