html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-box-big {
  flex-grow: 1;
}

.main-container {
  width: 700px;
}

/* Лучше не использовать селекторы по тегам или использовать их как можно реже.проблему отлично решает использование селектора по классу. 
Добавив нужный класс к элементу разметки, мы будем уверены, что стили применятся именно к этому элементу и ни к какому больше. */

/* Вложенные(контекстные теги)
.post .title {…} /* теги с классом title внутри тегов с классом post */ */

h1 {
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  display: inline-block;
  width: 200px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 50px;
  margin-right: 50px;
}



ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}



header {
  width: 100%;
  /* background-color: #95bdc9; */
  /* border: 5px solid #2f4572; */
}

em {
  font-size: 14px;
  line-height: 21px;
  border-top: #333;
  border-bottom: #333;
}

.text-info {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

